<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Summary</h1>

		<body bgcolor="lightgrey">

            <table width="60%">
                <tr>
                    <td width="30%">Employee First Name</td>
                    <td width="30%">Employee Last Name</td>
                    <td width="30%">Salary</td>
                </tr>
                <tr>
                    <td width="30%">{{ result1 }} </td>
                    <td width="30%">{{ result2 }} </td>
                    <td width="30%">{{ result3 }} </td>
                </tr>

            </table>


		</body>

	</font>
</center>
</html>
