<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Summary</h1>

		<body bgcolor="lightgrey">

            <table style="width: 50%;">
                <tr>
                    <td>Employee ID</td>
                    <td>Salary</td>
                </tr>

            </table>
            <br><br>
            {{ result }} 


		</body>

	</font>
</center>
</html>
