<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Summary</h1>

		<body bgcolor="lightgrey">

            <table style="width: 50%; border: 1px solid black">
                <tr>
                    <td>Employee First Name</td>
                    <td>Employee Last Name</td>
                    <td>Salary</td>
                </tr>
                <tr>
                    <td>{{ result1 }} </td>
                    <td>{{ result2 }} </td>
                    <td>{{ result3 }} </td>
                </tr>

            </table>


		</body>

	</font>
</center>
</html>
